<section class="photo-gallery">
  <h2>Photo Gallery</h2>
  <!-- <h3>Glimpse from Holi Milan 2025</h3> -->

  <div class="gallery">
    <div class="gallery-item" *ngFor="let image of images; let i = index">
      <img [src]="image.src" [alt]="image.alt" (click)="openModal(i)">
    </div>
  </div>

  <!-- Fullscreen Image Modal -->
  <div class="image-modal" (click)="closeModal()">
    <button class="prev" (click)="prevImage($event)">❮</button>
    <img id="modal-image" src="" alt="Fullscreen Image">
    <button class="next" (click)="nextImage($event)">❯</button>
  </div>
</section>