.header {
  width: 100%;
}

.contact-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff5e6;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;

  .contact-item {
    display: flex;
    align-items: center;
    margin-left: 20px;

    a {
      color: #ff6200;
      text-decoration: none;
      font-size: 14px;
    }

    .icon {
      margin-right: 5px;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the logo and links */
  padding: 10px 0;
  background-color: white;

  .navbar-logo-container {
    margin-bottom: 10px; /* Add spacing below the logo */
  }

  .navbar-logo {
    width: 100px; /* Adjust the logo size */
    height: auto;
  }

  .navbar-links {
    display: flex;
    gap: 20px; /* Add spacing between links */

    a {
      color: #d24805;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;

    .navbar-links {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}