.header {
  width: 100%;
}

// Contact Header Styles
.contact-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff5e6;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-left: 20px;

  a {
    color: #ff6200;
    text-decoration: none;
    font-size: 14px;
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ff6200;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    font-size: 12px;
  }
}
.navbar {
  background-color: #d24805;
  padding: 0.5rem 1rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; // space between items
}

.navbar-logo {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 0;
  margin-right: 5px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
