<div class="header">
  <!-- Contact Header -->
  <div class="contact-header">
    <div class="contact-item">
      <span class="icon">📧</span>
      <a href="mailto:info@maithilpariwar.in">info&#64;maithilpariwar.in</a>
    </div>
    <div class="contact-item">
      <span class="icon">📞</span>
      <a href="tel:+9000000000000">9000000000000</a>
    </div>
  </div>

  <!-- Navbar -->
  <div class="navbar">
    <div class="navbar-logo-container">
      <img src="assets/logo/logo.jpg" alt="Logo" class="navbar-logo" />
      <span class="navbar-title">Maithil Pariwar Chennai (Regd.)</span>
    </div>
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>
    <div class="navbar-links" *ngIf="isMenuOpen || screenWidth > 768">
      <a routerLink="/home" (click)="closeMenu()">Home</a>
      <div class="dropdown">
        <a class="dropdown-toggle" (click)="toggleDropdown()">About Us</a>
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <a routerLink="/about-us" (click)="closeMenu()">About Us</a>
          <a routerLink="/office-bearers" (click)="closeMenu()">Office Bearers</a>
        </div>
      </div>      <a routerLink="/photo-gallery" (click)="closeMenu()">Photo Gallery</a>
      <a routerLink="/upcoming-programs" (click)="closeMenu()">Events</a>
      <a routerLink="/contact-us" (click)="closeMenu()">Contact Us</a>
    </div>
  </div>
</div>
<!-- <hr> -->