/* /src/app/pages/home/home.component.scss */
.custom-carousel {
  width: 100vw;
  position: relative;
  margin-top: 0.5rem;
  padding-top: 0;

  .carousel-wrapper {
    position: relative;
    width: 100%;
    height: 500px; // You can adjust this height as needed
    overflow: hidden;

    .carousel-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
    }
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    span {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: gray;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: black;
      }
    }
    
  }
}
 @media (max-width: 768px) {
    .carousel-wrapper {
      height: 300px; /* Reduce height for smaller screens */
    }

    .nav {
      padding: 8px; /* Adjust button size */
    }

    .dots span {
      width: 8px; /* Smaller dots */
      height: 8px;
    }
  }

