<section class="custom-carousel">
  <div class="carousel-wrapper">
    <!-- Lazy load the current image -->
    <img [src]="images[currentIndex]" alt="Carousel image" class="carousel-image" loading="lazy" />

    <!-- Navigation buttons -->
    <button class="nav prev" (click)="prevImage()">❮</button>
    <button class="nav next" (click)="nextImage()">❯</button>
  </div>

  <!-- Navigation dots -->
  <!-- <div class="dots">
    <span *ngFor="let img of images; let i = index"
          [class.active]="i === currentIndex"
          (click)="goToImage(i)">
    </span>
  </div> -->
</section>
<app-about-mithila></app-about-mithila>
