/* filepath: f:\Maithil-Pariwar\maithil-pariwar-chennai\src\app\pages\contact-us\contact-us.component.scss */
.iframe-container {
  display: flex;
  justify-content: center; /* Horizontally center the iframe */
  align-items: center; /* Vertically center the iframe (if needed) */
}

